<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDv9yMh4D_f4p8r85jjm5vQOS4h5B5S24E</string>
	<key>GCM_SENDER_ID</key>
	<string>154149854124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itechnolabs.PhoneAuthenticationWithOTP</string>
	<key>PROJECT_ID</key>
	<string>phoneauthenticate-90daa</string>
	<key>STORAGE_BUCKET</key>
	<string>phoneauthenticate-90daa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154149854124:ios:062ecc0bc52625e3c77809</string>
</dict>
</plist>